

p, div, h1, h2, h3{
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e7f6ff;
}
* {
    font-family: "Inter", system-ui;
}


.wrapper {
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
}